nav .navPart1 {
    max-width: 20%;
    flex: 0 0 20%;
}

nav .navPart2 {
    max-width: 80%;
    flex: 0 0 80%;
}

nav .navPart1 .catWrapper{
    position: relative;
}


nav .navPart1 .catWrapper .sidebarNav{
    width: 100%;
    height:0px;
    opacity: 0;
    background: #fff;
    position: absolute;
    top:136%;
    left:0px;
    border: 1px solid(0,0,0,0.1);
    padding: 15px 0px;
    transition: all 0.2s;
    visibility: hidden;
    z-index: 100;
}

nav .navPart1 .catWrapper .sidebarNav .open{
    height: auto;
    opacity: 1;
    visibility: inherit;
}

nav .navPart1 .catWrapper .sidebarNav ul li{
    width: 100%;
    list-style: none;
    padding: 0px 15px;
    position: static;
}

nav .navPart1 .catWrapper .sidebarNav ul li button{
    color:#000;
    width: 100%;
    justify-content: flex-start;
    text-transform: capitalize !important;
}

nav .navPart1 .catWrapper .sidebarNav ul li svg{
    font-size: 12px;
    opacity: 0.6;
}

nav .navPart1 .catWrapper .sidebarNav ul li button:hover{
    background: transparent !important;
}

nav .navPart1 .catWrapper .sidebarNav ul li .submenu{
    position: absolute;
    top: 0px;
    left: 100%;
    width: 250px;
    height: 100%;
    background: #ffff;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid rgba(0,0,0,0.1);
}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu{
    opacity: 1;
    visibility: inherit;
}

nav .allCatTab {
    color: #ffff;
    font-weight: 600;
    background: #1e3d81;
    padding: 8px 20px !important;
    border-radius: 30px !important;
}

nav .navPart2 ul {
    margin-bottom: 0px;
}

nav .navPart2 ul li {
    padding-bottom: 20px;
}

nav .navPart2 ul li a {
    text-decoration: none;
}

nav .navPart2 ul li a button {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    transition: all 0.2s ease-in-out;
    border-radius: 25px;
}

nav .navPart2 ul li a:hover {
    background: #fff8f0;
    color: #f8b86a;
    border-radius: 25px;
}

nav .allCatTab:hover {
    background: #f8b86a;
}

nav .allCatTab .icon1 .icon2 svg {
    font-size: 20px !important;
}

nav .navPart2 ul li a:hover {
    background: #f0faff;
    color: #2bbef9;
}

nav .navPart2 ul li {
    position: relative;
}

nav .navPart2 ul li .submenu {
    position: absolute;
    top: 150%;
    left: 0px;
    min-width: 200px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    z-index: 100;
}

nav .navPart2 ul li .submenu a {
    display: block;
    width: 100%;
}

nav .navPart2 ul li .submenu a button {
    width: 100%;
    justify-content: flex-start !important;
    border-radius: 0px !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
}

nav .navPart2 ul li:hover .submenu {
    opacity: 1;
    visibility: inherit;
    top: 100%;
}